<div style="background-color: Tan; ">
	
	<h3>If you are not logged in or you want to switch to other account use next form..</h3>
	
	<div>
	
	<h1 style="color:DarkSlateBlue ;">Login:</h1>
	</div>
	<form>

		<label> Username: <input type="text" name="username"
			ng-model="user.username">
		</label> 
	</form>
	<form>
		<label> Password: <input type="password" name="password"
			ng-model="user.password">
		</label>
	</form>
	<form>
	  <label>
	     <a class="btn btn-primary" href="#/user/login/{{user.username}}/{{user.password}}">Login</a>
	    </label>
	
	</form>

</div>