<div style="background-color: LemonChiffon ">
	<h2>All objectives</h2>

	<div ng-if="objectives.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>

	<div ng-if="objectives.length > 0">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Address</th>
					<th>City</th>
					<th>Id city</th>

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="objective in objectives">
					<td>{{objective.id}}</td>
					<td>{{objective.nume}}</td>
					<td>{{objective.adresa}}</td>
					<td>{{objective.oras}}</td>
					<td>{{objective.id_oras}}</td>

					<td><a class="btn btn-primary"
						href="#/objective/{{objective.id}}">Details</a></td>
					<td><a class="btn btn-primary"
						href="#/objective/deleteObjective/{{objective.id}}">Delete
							objective</a></td>
				</tr>
			</tbody>
		</table>
	</div>


	<h2>Add new Objective</h2>


	<form>

		<label> Name: <input type="text" name="nume" ng-model="nume">
		</label>
	</form>
	<form>
		<label> Address: <input type="text" name="adresa"
			ng-model="adresa">
		</label>
	</form>

	<form>
		<label> City: <input type="text" name="oras" ng-model="oras">
		</label>
	</form>

	<form>
		<label> Id city: <input type="text" name="id_oras"
			ng-model="id_oras">
		</label>
	</form>

	<form>
		<label> <a class="btn btn-primary"
			href="#/objective/adaugareObiectiv/{{nume}}/{{adresa}}/{{oras}}/{{id_oras}}">Add Objective</a>
		</label>

	</form>
	
	
	
	

<h2>Update objective:</h2>


	<form>
		<label> Old Id: <input type="text" name="old_id_objective"
			ng-model="old_id_objective">
		</label>
	</form>

	
	<h4>New Objective</h4>
	<form>
		<label> Name: <input type="text" name="new_nume"
			ng-model="new_nume">
		</label>
	</form>
	<form>
		<label> Address: <input type="text" name="new_adresa"
			ng-model="new_adresa">
		</label>
	</form>

	<form>
		<label> City:<input type="text" name="new_oras"
			ng-model="new_oras">
		</label>
	</form>

	<form>
		<label> City id: <input type="text" name="new_id_oras"
			ng-model="new_id_oras">
		</label>
	</form>

	<form>
		<label> <a class="btn btn-primary"
			href="#/objective/updateObjective/{{old_id_objective}}/{{new_nume}}/{{new_adresa}}/{{new_oras}}/{{new_id_oras}}">Update Objective</a>
		</label>
	</form>



	
	
	
</div>
