<div style="background-color: LemonChiffon ">
	<h2>All objectives</h2>

	<div ng-if="objectives.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>

	<div ng-if="objectives.length > 0">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Address</th>
					<th>City</th>
					<th>Id city</th>

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="objective in objectives">
					<td>{{objective.id}}</td>
					<td>{{objective.nume}}</td>
					<td>{{objective.adresa}}</td>
					<td>{{objective.oras}}</td>
					<td>{{objective.id_oras}}</td>

				</tr>
			</tbody>
		</table>
	</div>
		
</div>
