<div>
	<h2>Objective Details</h2>
	
	<p><label>Id:</label> {{objective.id}} </p>
	<p><label>Name:</label> {{objective.nume}} </p>
	<p><label>Address:</label> {{objective.adresa}} </p>
	<p><label>City:</label> {{objective.oras}} </p>
	<p><label>City id:</label> {{objective.id_oras}} </p>
</div>