<div>
	<h2>User Details</h2>
	
	<p><label>Id:</label> {{user.id}} </p>
	<p><label>Username:</label> {{user.username}} </p>
	<p><label>Password:</label> {{user.password}} </p>
	<p><label>FullName:</label> {{user.fullname}} </p>
	<p><label>Role:</label> {{user.role}} </p>
	<p><label>Email:</label> {{user.email}} </p>
	
	
</div>