<div style="background-color: LemonChiffon ">
	<h2>All users</h2>

	<div ng-if="users.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>

	<div ng-if="users.length > 0">
		<table class="table table-hover">
			<thead>
				<tr>
					<td>Id</td>
					<th>Username</th>
					<th>Password</th>
					<th>Fullname</th>
					<th>Role</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td>{{user.id}}</td>
					<td>{{user.username}}</td>
					<td>{{user.password}}</td>
					<td>{{user.fullname}}</td>
					<td>{{user.role}}</td>
					<td>{{user.email}}</td>

					<td><a class="btn btn-primary" href="#/user/{{user.id}}">Details</a></td>
					<td><a class="btn btn-primary"
						href="#/user/deleteUser/{{user.id}}">Delete user</a></td>
				</tr>
			</tbody>
		</table>
	</div>


	<h2>Add new User</h2>

	<form>

		<label> Username: <input type="text" name="username"
			ng-model="username">
		</label>
	</form>
	<form>
		<label> Password: <input type="password" name="password"
			ng-model="password">
		</label>
	</form>

	<form>
		<label> Fullname: <input type="text" name="fullname"
			ng-model="fullname">
		</label>
	</form>

	<form>
		<label> Role: <input type="text" name="role"
			ng-model="role">
		</label>
	</form>
	
	<form>
		<label> Email: <input type="text" name="email"
			ng-model="email">
		</label>
	</form>
	
	<form>
		<label> <a class="btn btn-primary"
			href="#/user/adaugareUser/{{username}}/{{password}}/{{fullname}}/{{role}}/{{email}}">Add User</a>
		</label>

	</form>




<h2>Update user:</h2>


	<form>
		<label> Old Id: <input type="text" name="old_id"
			ng-model="old_id">
		</label>
	</form>

	
	<h4>New User</h4>
	<form>
		<label> Username: <input type="text" name="new_username"
			ng-model="new_username">
		</label>
	</form>
	<form>
		<label> Password: <input type="password" name="new_password"
			ng-model="new_password">
		</label>
	</form>

	<form>
		<label> Fullname: <input type="text" name="new_fullname"
			ng-model="new_fullname">
		</label>
	</form>

	<form>
		<label> Role: <input type="text" name="new_role"
			ng-model="new_role">
		</label>
	</form>
	
	<form>
		<label> Email: <input type="text" name="new_email"
			ng-model="new_email">
		</label>
	</form>
	
	<form>
		<label> <a class="btn btn-primary"
			href="#/user/updateUser/{{old_id}}/{{new_username}}/{{new_password}}/{{new_fullname}}/{{new_role}}/{{new_email}}">Update User</a>
		</label>
	</form>





</div>
