<div style="background-color: LemonChiffon ">
	<h2>All reservations</h2>

	<div ng-if="reservations.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>

	<div ng-if="reservations.length > 0">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Person's name</th>
					<th>Hotel's name</th>
					<th>Reserved places</th>
					<th>Computed price</th>
					<th>User id</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="reservation in reservations">
					<td>{{reservation.id}}</td>
					<td>{{reservation.nume_persoana}}</td>
					<td>{{reservation.nume_hotel}}</td>
					<td>{{reservation.nr_locuri_rezervate}}</td>
					<td>{{reservation.pret_calculat}}</td>
					<td>{{reservation.id_user}}</td>

				
					<td><a class="btn btn-primary"
						href="#/reservation/deleteReservation/{{reservation.id}}">Delete
							reservation</a></td>
				</tr>
			</tbody>
		</table>
	</div>


	<h2>Add new Reservation</h2>
	<form>		<label> Person's name: <input type="text" name="nume_persoana"
			ng-model="nume_persoana">
		</label>
	</form>
	<form>
		<label> Hotel's name: <input type="text" name="nume_hotel"
			ng-model="nume_hotel">
		</label>
	</form>

	<form>
		<label>Reserved places: <input type="text"
			name="nr_locuri_rezervate" ng-model="nr_locuri_rezervate">
		</label>
	</form>

	<form>
		<label>Computed price: <input type="text" name="pret_calculat"
			ng-model="pret_calculat">
		</label>
	</form>

	<form>
		<label>User id: <input type="text" name="id_user"
			ng-model="id_user">
		</label>
	</form>

	<form>
		<label> <a class="btn btn-primary"
			href="#/reservation/adaugareRezervare/{{nume_persoana}}/{{nume_hotel}}/{{nr_locuri_rezervate}}/{{pret_calculat}}/{{id_user}}">Add
				Reservation</a>
		</label>
	</form>
	
	
<h2>Update reservation:</h2>


	<form>
		<label> Old Id: <input type="text" name="reservation_old_id"
			ng-model="reservation_old_id">
		</label>
	</form>

	
	<h4>New Reservation</h4>
	<form>
		<label> Person's name: <input type="text" name="new_nume_persoana"
			ng-model="new_nume_persoana">
		</label>
	</form>
	<form>
		<label> Hotel's name: <input type="text" name="new_nume_hotel"
			ng-model="new_nume_hotel">
		</label>
	</form>

	<form>
		<label> Reserved places:<input type="text" name="new_nr_locuri_rezervate"
			ng-model="new_nr_locuri_rezervate">
		</label>
	</form>

	<form>
		<label>Computed price:<input type="text" name="new_pret_calculat"
			ng-model="new_pret_calculat">
		</label>
	</form>
	
	<form>
		<label>User id: <input type="text" name="new_id_user"
			ng-model="new_id_user">
		</label>
	</form>
	
	<form>
		<label> <a class="btn btn-primary"
			href="#/reservation/updateReservation/{{reservation_old_id}}/{{new_nume_persoana}}/{{new_nume_hotel}}/{{new_nr_locuri_rezervate}}/{{new_pret_calculat}}/{{new_id_user}}">Update Reservation</a>
		</label>
	</form>



	
	
	
	
	
	
	
</div>
