<div>
	<h2>Reservation Details</h2>
	
	<p><label>Id:</label> {{reservation.id}} </p>
	<p><label>Person's name:</label> {{reservation.nume_persoana}} </p>
	<p><label>Hotel's name:</label> {{reservation.nume_hotel}} </p>
	<p><label>Reserved places:</label> {{reservation.nr_locuri_rezervate}} </p>
	<p><label>Computed price:</label> {{reservation.pret_calculat}} </p>
	<p><label>User id:</label> {{reservation.id_user}} </p>
	
	
</div>