<div style="background-color: LemonChiffon ">
	<h2>All reservations</h2>

	<div ng-if="reservations.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>

	<div ng-if="reservations.length > 0">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Person's name</th>
					<th>Hotel's name</th>
					<th>Reserved places</th>
					<th>Computed price</th>
					<th>User id</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="reservation in reservations">
					<td>{{reservation.id}}</td>
					<td>{{reservation.nume_persoana}}</td>
					<td>{{reservation.nume_hotel}}</td>
					<td>{{reservation.nr_locuri_rezervate}}</td>
					<td>{{reservation.pret_calculat}}</td>
					<td>{{reservation.id_user}}</td>

				
			</tr>
			</tbody>
		</table>
	</div>

	
</div>
