<div style="background-color: LemonChiffon ">
	<h2>All hotels</h2>

	<div ng-if="hotels.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>

	<div ng-if="hotels.length > 0">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Address</th>
					<th>City</th>
					<th>Available Places</th>
					<th>Price room 2</th>
					<th>Price room 3</th>
					<th>Id city</th>

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="hotel in hotels">
					<td>{{hotel.id}}</td>
					<td>{{hotel.nume}}</td>
					<td>{{hotel.adresa}}</td>
					<td>{{hotel.oras}}</td>
					<td>{{hotel.nr_locuri_disponibile}}</td>
					<td>{{hotel.pret_camera_2_pers}}</td>
					<td>{{hotel.pret_camera_3_pers}}</td>
					<td>{{hotel.id_oras}}</td>

					<td><a class="btn btn-primary" href="#/hotel/{{hotel.id}}">Details</a></td>
					<td><a class="btn btn-primary"
						href="#/hotel/deleteHotel/{{hotel.id}}">Delete hotel</a></td>
				</tr>
			</tbody>
		</table>
	</div>


	<h2>Add new Hotel</h2>
	<form>

		<label> Name: <input type="text" name="nume"
			ng-model="nume">
		</label>
	</form>
	<form>
		<label> Address: <input type="text" name="adresa"
			ng-model="adresa">
		</label>
	</form>

	<form>
		<label> City: <input type="text" name="oras"
			ng-model="oras">
		</label>
	</form>

	<form>
		<label> Available places: <input type="text" name="nr_locuri_disponibile"
			ng-model="nr_locuri_disponibile">
		</label>
	</form>

	<form>
		<label> Price room 2: <input type="text" name="pret_camera_2_pers"
			ng-model="pret_camera_2_pers">
		</label>
	</form>


	<form>
		<label> Price room 3: <input type="text" name="pret_camera_3_pers"
			ng-model="pret_camera_3_pers">
		</label>
	</form>


	<form>
		<label>Id city: <input type="text" name="id_oras" ng-model="id_oras">
		</label>
	</form>

	<form>
		<label> <a class="btn btn-primary"
			href="#/hotel/adaugareHotel/{{nume}}/{{adresa}}/{{oras}}/{{nr_locuri_disponibile}}/{{pret_camera_2_pers}}/{{pret_camera_3_pers}}/{{id_oras}}">Add
				Hotel</a>
		</label>

	</form>
	
	<h2>Update Hotel</h2>
	
	<form>
		<label> Old id: <input type="text" name="old_id_hotel"
			ng-model="old_id_hotel">
		</label>
	</form>
	
	
	<h4>New Hotel </h4>
	<form>
		<label> Name: <input type="text" name="new_nume"
			ng-model="new_nume">
		</label>
	</form>
	<form>
		<label> Address: <input type="text" name="new_adresa"
			ng-model="new_adresa">
		</label>
	</form>

	<form>
		<label> City: <input type="text" name="new_oras"
			ng-model="new_oras">
		</label>
	</form>

	<form>
		<label> Available places: <input type="text" name="new_nr_locuri_disponibile"
			ng-model="new_nr_locuri_disponibile">
		</label>
	</form>

	<form>
		<label> Price room 2: <input type="text" name="new_pret_camera_2_pers"
			ng-model="new_pret_camera_2_pers">
		</label>
	</form>


	<form>
		<label> Price room 3: <input type="text" name="new_pret_camera_3_pers"
			ng-model="new_pret_camera_3_pers">
		</label>
	</form>


	<form>
		<label>Id city: <input type="text" name="new_id_oras" ng-model="new_id_oras">
		</label>
	</form>

	<form>
		<label> <a class="btn btn-primary"
			href="#/hotel/updateHotel/{{old_id_hotel}}/{{new_nume}}/{{new_adresa}}/{{new_oras}}/{{new_nr_locuri_disponibile}}/{{new_pret_camera_2_pers}}/{{new_pret_camera_3_pers}}/{{new_id_oras}}">Update
				Hotel</a>
		</label>

	</form>
	

</div>
