<div>
	<h2>Hotel Details</h2>
	
	<p><label>Id:</label> {{hotel.id}} </p>
	<p><label>Name:</label> {{hotel.nume}} </p>
	<p><label>Address:</label> {{hotel.adresa}} </p>
	<p><label>City:</label> {{hotel.oras}} </p>
	<p><label>Available places:</label> {{hotel.nr_locuri_disponibile}} </p>
	<p><label>Price room 2:</label> {{hotel.pret_camera_2_pers}} </p>
	<p><label>Price room 3:</label> {{hotel.pret_camera_3_pers}} </p>
	<p><label>Id city:</label> {{hotel.id_oras}} </p>
</div>