<div style="background-color: LemonChiffon ">
	<h2>All hotels</h2>

	<div ng-if="hotels.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>

	<div ng-if="hotels.length > 0">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Address</th>
					<th>City</th>
					<th>Available Places</th>
					<th>Price room 2</th>
					<th>Price room 3</th>
					<th>Id city</th>

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="hotel in hotels">
					<td>{{hotel.id}}</td>
					<td>{{hotel.nume}}</td>
					<td>{{hotel.adresa}}</td>
					<td>{{hotel.oras}}</td>
					<td>{{hotel.nr_locuri_disponibile}}</td>
					<td>{{hotel.pret_camera_2_pers}}</td>
					<td>{{hotel.pret_camera_3_pers}}</td>
					<td>{{hotel.id_oras}}</td>

				</tr>
			</tbody>
		</table>
	</div>
	
</div>
