<div>
	<h2>City Details</h2>
	
	
	
	<p><label>Id:</label> {{city.id}} </p>
	<p><label>Name:</label> {{city.nume}} </p>
	<p><label>County:</label> {{city.judet}} </p>
	<p><label>Country:</label> {{city.tara}} </p>
	<p><label>Population:</label> {{city.populatie}} </p>
	
	
</div>