<div style="background-color: LemonChiffon ">
	<h2>All cities</h2>

	<div ng-if="cities.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>

	<div ng-if="cities.length > 0">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>County</th>
					<th>Country</th>
					<th>Population</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="city in cities">
					<td>{{city.id}}</td>
					<td>{{city.nume}}</td>
					<td>{{city.judet}}</td>
					<td>{{city.tara}}</td>
					<td>{{city.populatie}}</td>

					<td><a class="btn btn-primary" href="#/city/{{city.id}}">Details</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
